<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="F:\Logs\WebApplicationDemo\internal-nlog.txt">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File"
            name="allfile"
            fileName="F:\Logs\WebApplicationDemo\WebApplicationDemo.All.${shortdate}.log"
            layout="${longdate} | ${aspnet-TraceIdentifier} | ${pad:padding=5:inner=${level:uppercase=true}} | ${callsite} | ${message} ${exception:when=level>=LogLevel.Error} ${stacktrace:when=level>=LogLevel.Error}" />
    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File"
            name="application"
            fileName="F:\Logs\WebApplicationDemo\WebApplicationDemo.${shortdate}.log"
            layout="${longdate} | ${aspnet-TraceIdentifier} | ${pad:padding=5:inner=${level:uppercase=true}} | ${callsite} | ${message} ${onexception:${newline}${exception:format=shortType,method,stacktrace:separator=;:maxInnerExceptionLevel=10:innerExceptionSeparator=&#xD;&#xA;&#x9;:innerFormat=shortType,method,stacktrace}} | ${aspnet-mvc-controller}/${aspnet-mvc-action} ${aspnet-request-url}" />
    <!-- write to the void aka just remove -->
    <target xsi:type="Null"
            name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
      <!--All logs, including from Microsoft-->
      <logger name="*"
              minlevel="Trace"
              writeTo="allfile" />
      <!--Skip Microsoft logs and so log only own logs-->
      <logger name="Microsoft.*"
              minlevel="Trace"
              writeTo="blackhole"
              final="true" />
      <!--App logs-->
      <logger name="*"
              minlevel="Trace"
              writeTo="application" />
  </rules>
</nlog>